{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block 'title' %}{% trans 'Contato' %} - {% trans 'Santapédia' %}{% endblock %}

{% block 'meta_description' %}
    {% if request.LANGUAGE_CODE == 'en' %}Contact form for Santapedia.{% else %}Formulário de contato da Santapédia.{% endif %}
{% endblock %}

{% block 'css' %}
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block 'body' %}
    <div class="container">
        {% if success %}
            <!-- Success alert -->
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {% trans 'Mensagem enviada com sucesso!' %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}

        <h1 id="email">{% trans 'Enviar um email' %}</h1>

        <form action="" method="post" id="contact">
            {% csrf_token %}
            <p>
                {% if request.LANGUAGE_CODE == "en" %}
                    Name
                {% else %}
                    Nome
                {% endif %}
                {{ form.name }}
            </p>
            <p>
                {% if request.LANGUAGE_CODE == "en" %}
                    Email
                {% else %}
                    Email
                {% endif %}
                {{ form.email }}
            </p>
            <p>
                {% if request.LANGUAGE_CODE == "en" %}
                    Subject
                {% else %}
                    Assunto
                {% endif %}
                {{ form.subject }}
            </p>
            <p>
                {% if request.LANGUAGE_CODE == "en" %}
                    Message
                {% else %}
                    Mensagem
                {% endif %}
                {{ form.message }}
            </p>
            <button type="submit" id="submit">{% trans 'Enviar' %}</button>
        </form>
    </div>

{% endblock %}